* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1171px;
  margin: 0 auto;
  padding: 0 15px;
}

.cards {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 270px);
  gap: 25px;
}